* {
    box-sizing: border-box;
}
 
:root {
    --border-nav-color: rgb(103, 118, 255);
    --bg-nav-color: #e6f3ff;
    --nav-text-color: #0056b3;
    --nav-bg-item-hover: #b2ebf2;
    --color-one: #007bff;
    --color-two: #333;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --box-shadows-color2: rgba(0, 0, 0, 0.2);
    --bg-color-1: #f0f8ff;
    --bg-color-2: #f9f9f9;
    --bg-color-3: #ffffff;
    --footer-links-bg: #b2ebf2;
    --film-card-color: #ffffff;
    /* --nav-color-item-hover: #6cb3ff; */
}

@media (prefers-color-scheme: dark) {
    :root {
        --nav-text-color: #007bff;
        --bg-nav-color: #2f2a26;
        --color-two: #FFFFF8;
        --bg-color-1: #2f2c29;
        --bg-color-2: #2f2a26;
        --bg-color-3: #262627;
        --film-card-color: #2a2aa9;
        --nav-bg-item-hover: #454b5f;
        --footer-links-bg: #454b5f
    }
}

body {
    font-family: 'Merriweather', sans-serif !important;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-3);
    color-scheme: light dark;
}

header {
    padding: 10px 20px;
}

nav {
    background-color: var(--bg-nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--border-nav-color);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--nav-text-color) !important;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    border-radius: 5px;
    background-color: var(--nav-bg-item-hover);  
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    border: var(--border-nav-color) 3px solid;
}

.brand-color {
    color: var(--nav-text-color) !important;
    text-decoration: none;
}

.intro-section {
    margin-top: 70px;
}

.intro-section img {
    height: 450px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.qwe {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.img-fluid {
    width: 100%;
    border-radius: 10px;  
}

.quote-container {
    font-size: 20px;
    padding: 20px;
    background-color: var(--bg-color-2);
    border-left: 5px solid var(--color-one);
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    max-width: 50%;
}

.quote {
    font-style: italic;
    font-size: 1.2em;
    color: var(--color-two);
    margin: 0;
}

.author {
    display: block;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    color: var(--color-one);
}

section {
    margin-top: 50px;
}

.biography-section {
    background-color: var(--bg-color-1);
    padding: 40px;
    border-radius: 10px;
    margin: 20px auto;
}

.biography-section h2 {
    font-size: 2em;
    color: var(--color-one);
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.biography-section p {
    line-height: 1.6;
    font-size: 1.1em; 
    color: var(--color-two); 
    margin: 0;
}   

.filmography {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.film-card {
    background-color: var(--film-card-color);
    border-radius: 10px; 
    box-shadow: 0 4px 8px var(--box-shadow-color); 
    margin: 10px; 
    text-align: center; 
    width: calc(30% - 20px);
    transition: transform 0.2s; 
}

.film-card img {
    width: 100%; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.film-card p {
    padding: 10px; 
    margin: 0;
    font-size: 1em; 
    color: var(--color-two); 
}

.film-card:hover {
    transform: scale(1.05); 
}

.filmography-section h2 {
    text-align: center;
}

.legacy-section {
    background-color: var(--bg-color-1);
    padding: 40px; 
    border-radius: 10px; 
}

.legacy-section h2 {
    font-size: 2em; 
    color: var(--color-one); 
    margin-bottom: 20px; 
    text-align: center;
    text-transform: uppercase;  
}

.legacy-section p {
    line-height: 1.6; 
    font-size: 1.1em; 
    color: var(--color-two);
    margin: 0; 
    text-align: justify; 
}

.gallery-section {
    padding: 0px 20px 40px 20px;
    text-align: center;
}

.gallery-row {
    display: flex; 
    justify-content: center;
}

.gallery-image {
    max-width: 49%;
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 10px var(--box-shadows-color2); 
    margin: 0 10px; 
}

.gallery-large {
    max-width: 100%; 
    height: auto; 
    margin-top: 20px; 
}

footer {
    background-color: var(--bg-color-1);
    color: var(--color-two); 
    padding: 40px 20px; 
    text-align: center; 
}

.footer-links {
    list-style: none; 
    padding: 0; 
    display: flex;
    justify-content: center;
    gap: 30px; 
}

.footer-links li {
    margin: 0;
}

.footer-links a {
    color: var(--color-two);
    text-decoration: none; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
}

.footer-links a:hover {
    background-color: var(--footer-links-bg);
    color: var(--nav-text-color); 
}

footer ul {
    margin-bottom: 0px;
}

.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%; 
    max-width: 1200px; 
}

.close {
    position: absolute; 
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.no-scroll {
    overflow: hidden; 
    height: 100%; 
}

@media (max-width: 1118px) {
    .quote-container {
        font-size: 18px;
    }
}

@media (max-width: 1018px) {
    .quote-container {
        font-size: 17px;
    }
}

@media (max-width: 992px) {
    nav ul li a:hover {
        border-radius: 0px;
        background-color: var(--bg-nav-color);  
        color: #6cb3ff !important;
    }
}

@media (max-width: 930px) {
    footer {
        font-size: 14px;
    }
}

@media (max-width: 862px) {
    .quote-container {
        font-size: 16px;
    }
}

@media (max-width: 840px) {
    footer {    
        padding: 30px 20px;
    }

    .footer-links {
        flex-direction: column;
        font-size: 16px;
    }

    .gallery-row {
        flex-direction: column;
    }

    .gallery-image {
        max-width: 100%;
        border-radius: 10px; 
        box-shadow: 0 4px 10px var(--box-shadows-color2);   
        margin-top: 20px; 
    }
}

@media (max-width: 800px) {
    .quote-container {
        font-size: 15px;
    }

    .intro-section img {
        height: 430px;
    }
}

@media (max-width: 768px) {
    .film-card {
        width: calc(45% - 20px);
    }

    .qwe {
        flex-direction: column;
    }

    .quote-container {
        margin-top: 20px;
        margin-left: 0px;
        font-size: 15px;
        padding: 20px;
        border-left: none;
        border-bottom: 5px solid var(--color-one);
        max-width: 80%;
    }

    .biography-section {
        padding: 30px;
    }

    .legacy-section {
        padding: 30px;
    }

    .biography-section .container {
        padding: 0px 45px;
    }

    .filmography {
        justify-content: space-evenly;
    }

    .legacy-section .container {
        padding: 0px 45px; 
    }
}

@media (max-width: 600px) {
    .biography-section .container {
        padding: 0px;
    }

    .legacy-section .container {
        padding: 0px; 
    }
}

@media (max-width: 480px) {
    .film-card {
        width: calc(80%);
    }

    .intro-section img {
        height: 400px;
    }

    .quote-container {
        max-width: 98%;
    }
}

@media (max-width: 384px) {
    .footer-links {
        flex-direction: column;
        font-size: 14px;
        gap: 15px;
    }
}

@media (max-width: 360px) {
    .intro-section img {
        height: 380px;
    }

    .biography-section {
        padding: 20px;
    }

    .biography-section h2 {
        font-size: 1.5em;
    }

    .legacy-section {
        padding: 20px;
    }

    .legacy-section h2 {
        font-size: 1.5em;
    }
}